
.navBar {        
    padding-left: 2%;
    max-width: 100%;
    background-color: var(--fundo-nav);
    color: var(--text-principal);
    flex: 1 1 auto;
    font-size: 2em;
}

.header {
    background-color: var(--fundo-header);
    color: var(--text-principal);
    flex: 1 1 auto;
    max-width: 100%;  
    height: 150px;  

}