:root {  
  font-family: 'Roboto', sans-serif;
  --fundo-body: #000;
  --text-principal: #fff;
  --text-secudario: #e3e2e2;
  --text-link: #074c03;
  --text-titulo: #fff;
  --text-stitulo: #fff;
  --content: #fff;
}
