:root {
  font-family: 'Inter', sans-serif; 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

  --fundo-body: #000;
  --fundo-nav: #032f58;
  --fundo-header: #064681;
  --fundo-footer: #032f58;
  --fundo-card: #F0F8FF;
  --borda-card: #ccc;
  --text-principal: #fff;
  --text-secudario: #e3e2e2;
  --text-country: #142048;
  --text-country-lang: #1c3271;
  --text-country-lang-hover: #3359c2;
  --text-link: #bbdef5;
  --text-link-hover: #6096ba;
  --text-link-card: #1E90FF;
  --text-link-card-hover: #203a87;
  --text-titulo: #fff;
  --text-stitulo: #fff;
  --content: #fff;
  --scroll-normal:#073b76;
  --scroll-hover: #1c78d5; 
  --scroll-track: #649ef4;
}

body {
  max-width: 100%;
  margin:auto;
}

.menuLink {
  color: var(--text-link);
  text-decoration: none;    
}

.menuLink :hover {
  color: var(--text-link-hover);
}


.altura {
  height: 70vh;
  padding-left: 2%;
}

.conteudo {
  max-width: 95%;
  margin: auto;
  height: 550px;
  overflow:auto;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-normal) 
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover); 
}

::-webkit-scrollbar-track {
  background: var(--scroll-track); 
  
}

.content {
  max-width: 95%;
  margin: auto;
  height: 260px;
  overflow:auto;
}

